In [2]:
import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
sys.version

'3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)]'

In [8]:
'pandas version', pd.__version__

('pandas vversion', '2.2.0')

# The Basics

Create dataframe from raw data

In [10]:
data = {
    'Make': ['Holden', 'Ford', 'Datsun'],
    'Model': ['Kingswood', 'Falcon', '120y'],
    'Year': [1970, 1969, 1972]
}

df = pd.DataFrame(data)

df

     Make      Model  Year
0  Holden  Kingswood  1970
1    Ford     Falcon  1969
2  Datsun       120y  1972