In [12]:
import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
sys.version

'3.12.1 (tags/v3.12.1:2305ca5, Dec  7 2023, 22:03:25) [MSC v.1937 64 bit (AMD64)]'

In [14]:
'pandas version', pd.__version__

('pandas version', '2.2.0')

# The Basics

Create dataframe from raw data

In [15]:
data = {
    'Make': ['Holden', 'Ford', 'Datsun'],
    'Model': ['Kingswood', 'Falcon', '120y'],
    'Year': [1970, 1969, 1972]
}

df = pd.DataFrame(data)

df

     Make      Model  Year
0  Holden  Kingswood  1970
1    Ford     Falcon  1969
2  Datsun       120y  1972

Reading in a file

In [16]:
df1 = pd.read_csv('world_population.csv')
df = pd.read_parquet("Combined_Flights_2022.parquet")