# Exploratory Data Analysis in Pandas

## Import required packages and setup pandas

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Set how to display floats (single decimal point)

In [14]:
pd.set_option("display.float_format", lambda x: "%.1f" % x)

## Import data

In [16]:
df = pd.read_csv("world_population.csv")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.1,1.0,0.5
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.9,1.0,0.0
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.9,1.0,0.6
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.5,1.0,0.0
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.6,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.5,1.0,0.0
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.2,1.0,0.0
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8,1.0,0.4
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.6,1.0,0.2
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.8,1.0,0.2

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              230 non-null    float64
 6   2020 Population              233 non-null    float64
 7   2015 Population              230 non-null    float64
 8   2010 Population              227 non-null    float64
 9   2000 Population              227 non-null    float64
 10  1990 Population              229 non-null    float64
 11  1980 Population              229 non-null    float64
 12  1970 Population              230 non-null    float64
 13  Area (km²)                   232 non-null    float64
 14  Density (per km²)            230 non-null    float64
 15  Growth Rate                  232 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 31.2+ KB

In [19]:
df.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.0,230.0,233.0,230.0,227.0,227.0,229.0,229.0,230.0,232.0,230.0,232.0,234.0
mean,117.5,34632250.9,33600711.0,32066004.2,30270164.5,26840495.3,19330463.9,16282884.8,15866499.1,581663.7,456.8,1.0,0.4
std,67.7,137889172.4,135873196.6,131507146.3,126074183.5,113352454.6,81309625.0,69345465.5,68355859.8,1769133.1,2083.7,0.0,1.7
min,1.0,510.0,520.0,564.0,596.0,651.0,700.0,733.0,752.0,1.0,0.0,0.9,0.0
25%,59.2,419738.5,406471.0,394295.0,382726.5,329470.0,261928.0,223752.0,145880.5,2567.2,36.6,1.0,0.0
50%,117.5,5762857.0,5456681.0,5244415.0,4889741.0,4491202.0,3785847.0,3135123.0,2511718.0,77141.0,95.3,1.0,0.1
75%,175.8,22653719.0,21522626.0,19730853.8,16825852.5,15625467.0,11882762.0,9817257.0,8817329.0,414643.2,236.9,1.0,0.3
max,234.0,1425887337.0,1424929781.0,1393715448.0,1348191368.0,1264099069.0,1153704252.0,982372466.0,822534450.0,17098242.0,23172.3,1.1,17.9

In [21]:
df.isnull().sum()

Rank                           0
CCA3                           0
Country                        0
Capital                        0
Continent                      0
2022 Population                4
2020 Population                1
2015 Population                4
2010 Population                7
2000 Population                7
1990 Population                5
1980 Population                5
1970 Population                4
Area (km²)                     2
Density (per km²)              4
Growth Rate                    2
World Population Percentage    0
dtype: int64

In [22]:
df.nunique()

Rank                           234
CCA3                           234
Country                        234
Capital                        234
Continent                        6
2022 Population                230
2020 Population                233
2015 Population                230
2010 Population                227
2000 Population                227
1990 Population                229
1980 Population                229
1970 Population                230
Area (km²)                     231
Density (per km²)              230
Growth Rate                    178
World Population Percentage     70
dtype: int64

In [25]:
df.sort_values(by="2022 Population", ascending=False).head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337.0,1424929781.0,1393715448.0,1348191368.0,1264099069.0,1153704252.0,982372466.0,822534450.0,9706961.0,146.9,1.0,17.9
92,2,IND,India,New Delhi,Asia,1417173173.0,1396387127.0,1322866505.0,1240613620.0,1059633675.0,NaN,NaN,557501301.0,3287590.0,431.1,1.0,17.8
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.1,1.0,4.2
93,4,IDN,Indonesia,Jakarta,Asia,275501339.0,271857970.0,259091970.0,244016173.0,214072421.0,182159874.0,148177096.0,115228394.0,1904569.0,144.7,1.0,3.5
156,5,PAK,Pakistan,Islamabad,Asia,235824862.0,227196741.0,210969298.0,194454498.0,154369924.0,115414069.0,80624057.0,59290872.0,881912.0,267.4,1.0,3.0